.fill-page {
  height: 80vh;
}

.font-link {
  font-family: 'Delius', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

i:hover {
  color: #9E7682;
}

i {
  font-size: 50px;
}

a:hover {
  color: #9E7682;
}

.card-text,
label,
p {
  font-size: 20px;
}

.purple {
  background-color: #4D4861;
  color: #fff;
}

.yellow {
  background-color: #E1AA51;
  color: #fff;
}
